
    #contenedor{
      display: block;
      border-radius: 10px;
      height:100px;
      font-family: Arial;font-weight:bold;
    }
    #titulo{
      fill: white; 
      stroke: #000;
      stroke-width: 3px; 
      font-size: 40px; 
      font-weight: bold; 
      font-family: verdana; 

    }
    .Rutas{
      margin-right: 5%;
      margin-bottom: 5%;
    }
    #botonRutaH{
      BORDER: rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt;color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #FF9C33
    }
    #botonRutaB{
      BORDER:  rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt; color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #78be20
    }
    #botonRutaL{
      BORDER:  rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt; color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #00a499 
    }
    #botonRutaM{
      BORDER:  rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt; color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #8A0079 
      
    }
    #botonRutaD{
      BORDER:  rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt; color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #7B6CA7 

    }
    #botonRutaC{
      BORDER:  rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt; color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #00608B 

    }
    #botonRutaK{
      BORDER:  rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt; color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #b9975b 

    }
    #botonRutaFacil{
      BORDER:  rgb(15,15,15) 4px solid; 
      FONT-SIZE: 75pt; color: white; 
      FONT-FAMILY: Verdana; 
      BACKGROUND-COLOR: #000200;
      padding-left: 5%;
      padding-right: 5%;
    }
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}